
.navbar-light {
    background-color:rgb(18, 164, 18);
  }
  
  .nav-link {
    display: flex;
    color: rgb(244, 244, 244); 
    font-weight: bolder;
  
    
    
  }
  .navbar-brand {
    color: white; 
    font-weight: bold;
    margin-right:7vh;
  }
  .navbar-toggler{
    background-color:white;
  }