<div class="container">
    <h1 class="text-center mt-4 mb-5">Bienvenido a Nuestra Comunidad de Eventos Inclusivos</h1>
    <p class="text-center">¡Donde la diversidad es celebrada y todos son bienvenidos!</p>
  </div>
  
  <div class="container">
    <section class="about">
      <h2>Sobre Nosotros</h2>
      <p>Somos una comunidad dedicada a organizar eventos inclusivos que permiten a personas con discapacidades disfrutar de experiencias emocionantes, educativas y divertidas. Creemos en la igualdad de oportunidades y la participación de todos.</p>
    </section>
  
    <section class="join">
      <h2>Únete a Nosotros</h2>
      <p>¡Te invitamos a unirte a nuestra comunidad y participar en nuestros eventos! Aquí, puedes:</p>
      <ul>
        <p>Explorar una amplia gama de eventos inclusivos.</p>
        <p>Conectar con personas de ideas afines.</p>
        <p>Compartir tus propias ideas y sugerencias para eventos.</p>
        <p>Experimentar la diversidad y la inclusión en su máxima expresión.</p>
      </ul>
      <p>¡No importa tu habilidad o discapacidad, eres bienvenido a ser parte de nuestra comunidad!</p>
    </section>
  </div>
  